.button {
  font-family: var(--font-body);
  font-size: 1.25rem;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.15) 1px 2px 2px;
  font-weight: 600;
  padding: 0.5em 1.25em;
  border-radius: 2rem;
  cursor: pointer;
  transform: scale(1);
  transition: transform ease-in-out 0.075s;

  &:active {
    transform: scale(0.85);
  }
}
