.modalforgetpassword__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;

  .modalforgetpassword__content-svg {
    rotate: 90deg;
  }

  input {
    border-radius: 30px;
    padding: 0.75rem;
    margin-top: 1rem;
    border: 1px solid var(--clr-grey);
    width: 50%;
  }

  .modalforgetpassword__title {
    padding: 0.5rem;
    font-size: 20px;
    border-bottom: 3px solid var(--clr-intense-green);
  }

  .modalforgetpassword__description {
    text-align: center;
    margin-top: 1rem;
  }
  .modalforgetpassword__buttons {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
  }
}

.modalforgetpassword .error-message {
  margin-top: 0.5rem;
  color: red;
}

.modalforgetpassword__email-sent-msg {
  margin-top: 1rem;
}
