@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

:root {
  --clr-lavender: rgba(204, 189, 244, 1);
  --clr-light-green: rgba(218, 255, 185, 1);
  --clr-pink: rgba(255, 186, 243, 1);
  --clr-intense-green: rgba(43, 216, 134, 1);
  --clr-yellow: rgba(254, 239, 121, 1);
  --clr-white: rgba(247, 247, 247, 1);
  --clr-black: rgba(37, 37, 37, 1);
  --clr-grey: rgba(166, 166, 166, 1);
  --clr-deep-purple: rgba(101, 85, 143, 1);

  --font-header: "Playfair Display", serif;
  --font-body: "Lato", sans-serif;
}

.tagman {
  font-family: var(--font-body);
  font-weight: 700;
  height: 32.81rem;
  width: 18.75rem;
  margin: 0 6.56rem;
  position: relative;
  @media (width <= 1024px) {
    font-size: 0.75rem;
    height: 20.93rem;
    width: 12.12rem;
    margin: 0 4.25rem;
  }

  @media (width <= 640px) {
    font-size: 0.75rem;
    height: 19.25rem;
    width: 11rem;
    margin: 0 3.87rem;
  }

  .tagman__image {
    height: 32.82rem;
    width: 18.75rem;

    @media (width <= 1024px) {
      height: 20.94rem;
      width: 12.12rem;
    }

    @media (width <= 640px) {
      height: 19.25rem;
      width: 11rem;
    }
  }
  .tagman__tag-rect {
    width: 8.94rem;
    height: 2.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    position: absolute;

    @media (width <= 1024px) {
      width: 5.81rem;
      height: 1.75rem;
    }

    @media (width <= 640px) {
      width: 5.25rem;
      height: 1.62rem;
    }
  }
  :hover.tagman__tag-rect {
    scale: 1.05;
    filter: drop-shadow(0 1px 1px grey);
  }
  .tagman__tag-round {
    height: 2.875rem;
    width: 2.875rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    transition-duration: 0.8s;

    @media (width <= 1024px) {
      height: 1.87rem;
      width: 1.87rem;
    }

    @media (width <= 640px) {
      height: 1.69rem;
      width: 1.69rem;
    }
  }
  :hover.tagman__tag-round {
    transform: rotate(360deg);
  }
  .tagman__tag1 {
    background-color: var(--clr-pink);
    rotate: -17deg;
    top: 14.12rem;
    left: -6.75rem;

    @media (width <= 1024px) {
      top: 9rem;
      left: -4.37rem;
    }

    @media (width <= 640px) {
      top: 8.25rem;
      left: -3.94rem;
    }
  }
  .tagman__tag2 {
    background-color: var(--clr-yellow);
    top: 7.62rem;
    left: -1.87rem;

    @media (width <= 1024px) {
      top: 4.68rem;
      left: -1.43rem;
    }

    @media (width <= 640px) {
      top: 4.06rem;
      left: -1.25rem;
    }
    .tagman__tag2-crayon {
      @media (width <= 1024px) {
        height: 1.06rem;
        width: 1.06rem;
      }

      @media (width <= 640px) {
        height: 1rem;
        width: 1rem;
      }
    }
  }
  .tagman__tag3 {
    background-color: var(--clr-lavender);
    top: 5.94rem;
    left: 4.87rem;

    @media (width <= 1024px) {
      top: 3.75rem;
      left: 3.12rem;
    }

    @media (width <= 640px) {
      top: 3.5rem;
      left: 2.87rem;
    }
  }
  .tagman__tag4 {
    background-color: var(--clr-light-green);
    top: 10.31rem;
    right: -2.5rem;

    @media (width <= 1024px) {
      top: 6.37rem;
      right: -1.87rem;
    }
    @media (width <= 640px) {
      top: 5.94rem;
      right: -1.56rem;
    }

    .tagman__tag4-stars {
      @media (width <= 1024px) {
        height: 1.19rem;
        width: 1.19rem;
      }

      @media (width <= 640px) {
        height: 1.06rem;
        width: 1.06rem;
      }
    }
  }
  .tagman__tag5 {
    background-color: var(--clr-intense-green);
    rotate: 17deg;
    top: 16.12rem;
    right: -6.25rem;

    @media (width <= 1024px) {
      top: 10.31rem;
      right: -4.12rem;
    }

    @media (width <= 640px) {
      top: 9.37rem;
      right: -3.75rem;
    }
  }
}
