.Home {
  .Home__hero-container {
    position: relative;
    overflow: hidden;
  }

  .Home__description {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 15vh;

    @media (width <= 800px) {
      flex-direction: column;
      gap: 10px;
    }
  }

  .Home__green-line {
    width: 100vw;
    z-index: -1;
    position: absolute;
    top: -10%;
    left: 0;

    @media (width <= 640px) {
      display: none;
    }
  }
}
