@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

:root {
  --clr-lavender: rgba(204, 189, 244, 1);
  --clr-light-green: rgba(218, 255, 185, 1);
  --clr-pink: rgba(255, 186, 243, 1);
  --clr-intense-green: rgba(43, 216, 134, 1);
  --clr-yellow: rgba(254, 239, 121, 1);
  --clr-white: rgba(247, 247, 247, 1);
  --clr-black: rgba(37, 37, 37, 1);
  --clr-grey: rgba(166, 166, 166, 1);
  --clr-deep-purple: rgba(101, 85, 143, 1);

  --font-header: "Playfair Display", serif;
  --font-body: "Lato", sans-serif;
}

.faq__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2.5vh;
  gap: 10%;

  @media (width <= 425px) {
    flex-direction: column;
  }

  .faq__container-title {
    width: 40%;
    position: relative;
    /* text-align: left; */
    @media (width <= 425px) {
      width: 100%;
      text-align: center;
    }
  }
  .faq__container-faqCard {
    width: 50%;
    align-items: center;
    position: absolute;
    @media (width <= 425px) {
      width: 100%;
    }
  }
}
