.user-card {
  background-color: lightgrey;
  padding: 1rem 2.5rem;
  border-radius: 1.25rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  height: 6.25rem;
  position: relative;
  cursor: pointer;

  .user-card__img {
    width: 5rem;
    border-radius: 50%;
  }
  .user-card__title {
    font-size: 1.5rem;
    font-weight: 600;
  }
}
