.authmodal__header {
  position: relative;
  display: flex;
  justify-content: end;

  .authmodal__close-btn {
    border-radius: 50%;
    padding: 0.5rem 0.5rem;
    width: 40px;
    font-size: 1rem;
    font-weight: bold;
    background-color: var(--clr-lavender);
    border: 1px solid var(--clr-grey);
    cursor: pointer;
    position: absolute;
    right: -1.5rem;
    top: -1.6rem;
  }
}
.authmodal__header-pinkcross {
  position: absolute;
  left: -2rem;
  top: -2.125rem;

  @media (width <= 640px) {
    display: none;
  }
}
