.contact-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .contact-form__field {
    position: relative;
  }

  .contact-form__field-legend {
    position: absolute;
    top: -0.8rem;
    left: 15%;
    transform: translateX(-50%);
    background-color: var(--clr-white);
    padding: 0 0.9rem 0 0.3rem;
    font-size: 1.25rem;
    font-family: var(--font-body);
  }
  .contact-form__field-legend3 {
    position: absolute;
    top: -0.8rem;
    left: 21%;
    transform: translateX(-50%);
    background-color: var(--clr-white);
    padding: 0 0.9rem 0 0.3rem;
    font-size: 1.25rem;
  }

  .input-field {
    width: 92%;
    border: 2px solid var(--clr-lavender);
    border-radius: 10px;
    padding: 0.75rem;
    font-family: var(--font-body);
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s;
    background-color: var(--clr-white);
  }

  .input-field.error-border {
    border-color: red;
  }

  .input-field.good-border {
    border-color: var(--clr-lavender);
  }

  .input-field:focus {
    border-color: var(--clr-lavender);
  }

  textarea.input-field {
    height: 6.25rem;
    resize: none;
  }

  .contact-form__newsletter {
    display: flex;
    gap: 0.5rem;
  }

  .contact-form__newsletter input[type="checkbox"] {
    width: 1rem;
    height: 1rem;
    accent-color: var(--clr-deep-purple);
    margin-right: 0.5rem;
  }

  .contact-form__newsletter label {
    font-size: 1.25rem;
    font-family: var(--font-body);
  }

  .contact-form__send-buttons {
    display: flex;
    gap: 2rem;
  }
}
