.vignette-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3vh;

  @media (width <= 640px) {
    /* Lorsque la taille décent sous 1024px 
    ma grid fera toujours 3 * 1 fraction
    Cette propriété spécifie la taille des colonnes
    ajoutées automatiquement à la grille.
    Ici, chaque colonne automatique occupera 43%
    de la largeur de son conteneur parent.
    
    j'autorise un dépassement de contenu sur axe x

    Cette propriété contrôle le comportement de défilement au-delà des limites du conteneur.
    Ici, elle empêche le défilement de propager l'effet de "rebond" ou de "glissement"
    à l'extérieur du conteneur (comme ce qui peut se produire sur les appareils tactiles).

    Ce sélecteur cible tous les enfants directs du conteneur.
    La propriété scroll-snap-align: start; aligne chaque élément au début du conteneur
    lorsqu'on fait défiler (utile pour les interfaces utilisateur où un alignement précis
    est nécessaire pendant le défilement).
    */
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-columns: 43%;

    overflow-x: auto;
    overscroll-behavior-inline: contain;

    & > * {
      scroll-snap-align: start;
    }
  }
}
